@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    margin-top: 80px;
    background-color: rgb(70, 70, 70);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.categories {
    background-color: #EFEFEF;
    padding: 5px;
    border-radius: 5px;
    font-weight: normal;
}

.cover {
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
}

label:has(input[type="checkbox"]:checked) {
    background-color: rgb(67, 126, 175);
    color: white;
}

.reset {
    background-color: rgb(245, 245, 245);
    padding: 10px;
    border-radius: 5px;
    font-weight: normal;
    justify-content: center;
}

.reset span {
    color: rgb(145, 145, 145);
}

.reset:has(input[type="checkbox"]:checked) {
    background-color: rgb(194, 82, 82);
    color: white;
}

.reset:has(input[type="checkbox"]:checked) span {
    color: white;
}

input[type="checkbox"]{
    display: none;
}

input[type="file"]{
    width: 50%;
}

input[type="file"]::file-selector-button {
    font-family: 'Rubik', sans-serif;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    color: rgb(145, 145, 145);
}

.container-info {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 2px solid rgb(194, 44, 44);
    box-shadow: 0 0 8px rgba(255, 82, 82, 0.8);
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
}

.info {
    position: fixed;
}

.books-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-book {
    flex: 0 1 210px;
    max-width: 210px;
    height: 320px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.container-book div {
    padding: 10px;
}

.container-book:hover {
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    color: black;
    box-shadow: 0 0 10px 4px rgb(67, 126, 175);
}

label {
    font-weight: bold;
}

input, textarea, select {
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
    border-color: rgb(200, 200, 200);
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
}

button {
    font-family: 'Rubik', sans-serif;
    padding: 12px;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(67, 126, 175);
    font-weight: bold;
    color: white;
}

button:hover {
    background-color: rgb(33, 76, 110);
}

.delete {
    background-color: rgb(194, 44, 44);
}

.delete:hover {
    background-color: rgb(151, 39, 39);
}

.back {
    background-color: #242424;
}

.back:hover {
    background-color: black;
}

input:focus, textarea:focus, select:focus {
    outline-color: rgb(48, 104, 150);
    box-shadow: 0 0 8px rgba(57, 166, 180, 0.8);
}

h1 {
    color: white;
}

form {
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    background-color: white;
}

.login-register {
    text-decoration: none;
    color: rgb(48, 104, 150);
}

.login-register:hover {
    text-decoration: underline;
}

.book-card {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.book-cover {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-cover img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.book-cover button {
    width: 100%;
}

.book-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.book-info h3 {
    font-size: 1.8rem;
    margin: 0;
    padding-bottom: 30px;
    margin-top: 4px;
}

.book-info p {
    margin-bottom: 10px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #e2e2e2;
    z-index: 1000;
    border-bottom: 4px solid rgb(40, 40, 40);
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-nav-buttons {
    align-items: center;
    display: flex;
    margin-right: 20px;
    gap: 10px;
}

.title {
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

.scroll {
    height: 200px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

hr{
    height: 2px;
    border: none;
    background-color: rgb(70, 70, 70);
}

.no-book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-book a, .no-book button {
    width: 100%;
    box-shadow: 0 0 10px 2px rgb(190, 190, 190);
    border: 1px solid white;
    border-radius: 5px;
}

.no-book h1 {
    color: white;
}

.passwd-hint {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.passwd-hint-good {
    color:  rgb(36, 63, 38);
    background-color: rgb(117, 192, 121);
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
}

.passwd-hint-bad {
    color: rgb(194, 44, 44);
    padding: 5px;
}


.search-container {
    position: relative;
}

.search-container input {
    padding: 12px;
}

.search-container input::placeholder {
    color: rgb(190, 190, 190);
    font-style: italic;
}

#search-box {
    position: absolute;
    overflow-y: auto;
    max-height: 350px;
    background-color: white;
    max-width: 300px;
    scrollbar-width: thin;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

#search-box div {
    padding: 8px;
    border-bottom: 1px solid rgb(190, 190, 190);
    text-align: center;
}

#search-box div > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#search-box div > a:hover {
    color: rgb(48, 104, 150);
}